.link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkcard-share {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  color: rgba(255, 255, 255, 0.829);
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.47);
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkcard-share:hover {
  background-color: rgba(255, 255, 255, 0.829);
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
    0px -12px 10px -10px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transform: translateY(2px);
}

.linkcard-share svg {
  fill: black;
}

.modal-linkshare {
  background-color: rgba(255, 255, 255, 0.829);
  font-size: 23px;
  line-height: 30px;
  height: 40px;
  width: 125px;
  padding: 5px;
  border-radius: 15px;
  bottom: 115px;
  right: 65px;
  cursor: pointer;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.7s;
  visibility: hidden;
  display: none;
  box-shadow: 3.5px 3.5px 5.5px -1px rgba(0, 0, 0, 0.15),
    -3.5px -3.5px 5.5px -1px rgba(255, 255, 255, 0.47);
}

.icons-share {
    padding:10px;
}

.modal-linkshare :is(.icons-share) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-linkshare .icons-share {
  padding: 2px;
}

.icons-share .social__link-share {
}

/* #linkcard-share:checked ~ .modal-linkshare{
    transform:scale(1)
} */

/* .show {
    opacity:0;
    transition:.3s;
} */

.modal-linkshare.show {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  display: flex;
  transition: transform 0.5s;
}

.modal-linkshare .show .home__linkcard-img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  /* etc. */
}
