/* .social__link{   
    color: var(--container-color);
    font-size: 1.125rem;
    padding: 0.4rem;
    border-radius:1.5rem;
    display: inline-flex;
} */
/* 
.social__link:hover{
    background-color:rgba(44, 203, 224, 0.986);
} */

.social__link{
    display:flex;
    /* background-color: var(--container-color); */
    color: var(--container-color);
    height: 55px;
    width: 55px;
    margin: 0 15px;
    border-radius: 8px;
    align-items: center;
    justify-content:center;
    text-decoration: none;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 1px solid   rgba(0,0,0,0);
    transition: transform 0.5s;
}

a svg {
    font-size: 38px;
    color: white;
    transform: transform 0.5s;
}


.social__link:hover{
    background-color: rgba(255, 255, 255, 0.829);
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px -0.5px 0px  rgba(255,255,255,1),
                0.5px 0.5px 0px  rgba(0,0,0,0.15),
                0px -12px 10px -10px  rgba(0,0,0,0.05);
    border: 1px solid   rgba(0,0,0,0.1); 
    transform:translateY(2px)  ;      
}


a:hover svg{
    transform: scale(1.10);
    fill: black;
    transform: transform 0.5s;
}

a:hover .bi-linkedin{
    fill:rgb(18, 83, 203) ;
    transform:scale(1.10);
    transform: transform 0.5s;
}

a:hover .bi-instagram{
    fill:#e64771;
    transform:scale(1.10);
    transform: transform 0.5s;
}


/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  

    .social__link:hover{
        background-color: rgba(255, 255, 255, 0.829);
        box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                    inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                    -0.5px -0.5px 0px  rgba(255,255,255,1),
                    0.5px 0.5px 0px  rgba(0,0,0,0.15),
                    0px -12px 10px -10px  rgba(0,0,0,0.05);
        border: 1px solid   rgba(0,0,0,0.1); 
        transform:translateY(2px)  ;      
    }
    


   
  }
  
  /* For medium devices */
  @media screen and (max-width: 768px) {
   

    
   
  }
  

  
  /* For small devices */
  @media screen and (max-width: 350px) {

    
    


  }
  