.social__link{   
    color: var(--container-color);
    font-size: 1.125rem;
    padding: 0.4rem;
    border-radius:1.5rem;
    display: inline-flex;
}

.social__link:hover{
    background-color:rgba(44, 203, 224, 0.986);
}

a{
    display:flex;
    background-color: #fff;
    height: 75px;
    width: 75px;
    margin: 0 15px;
    border-radius: 8px;
    align-items: center;
    justify-content:center;
    text-decoration: none;
}

