.social__link{   
    color: var(--container-color);
    font-size: 1.125rem;
    padding: 0.4rem;
    border-radius:1.5rem;
    display: inline-flex;
}

.social__link:hover{
    background-color:rgba(44, 203, 224, 0.986);
}